<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">E-Note</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Features">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="Pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link active" href="shopping-cart">shopping cart <i
                                class="fa fa-shopping-cart"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="quiz">quiz</a></li>
                    <li class="nav-item"><a class="nav-link" href="login" id="login"><%=login%></a></li>
                    <li class="nav-item"><a class="nav-link" href="registration">register</a></li>
                    <li class="nav-item"><a class="nav-link" href="profile">Welcome, <%=username%></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Pricing Table</h2>
                    <p>Choose the best plan that suits you.</p>
                </div>


                <form action="/controllers/cart-controller" method="post">

                    <div class="row justify-content-center">
                        <div class="col-md-5 col-lg-4 prod_list_1">
                            <div class="clean-pricing-item">
                                <div class="heading">
                                    <h3 id="planA" name="planA">
                                        <%= plan0 %>
                                    </h3>


                                </div>
                                <p><%= description0 %></p>
                                <div class="features">
                                    <input type="hidden" id="plnA" name="pln" value='<%= plan0 %>'>
                                    <h4><span class="feature">Full Support:&nbsp;</span><span><%= fullsupport0 %></span>
                                    </h4>
                                    <h4><span class="feature">Duration:&nbsp;</span><span><%= duration0%> Days</span>
                                    </h4>
                                    <h4><span class="feature">Questions:&nbsp;</span><span><%=questions0 %></span></h4>
                                </div>
                                <div class="price">
                                    <h4>$<%= price0 %></h4>
                                </div><button class="btn btn-outline-primary btn-block" id="btn0" type="submit">BUY NOW</button>
                            </div>
                        </div>


                        <div class="col-md-5 col-lg-4 prod_list_2">

                            <div class="clean-pricing-item">
                                <div class="ribbon"><span>Best Value</span></div>
                                <div class="heading">
                                    <h3 id="planB" name="planB"> <%= plan1 %></h3>
                                </div>
                                <p><%= description1 %></p>
                                <div class="features">
                                  
                                    <h4><span class="feature">Full Support:&nbsp;</span><span><%= fullsupport1 %></span>
                                    </h4>
                                    <h4><span class="feature">Duration:&nbsp;</span><span><%= duration1%> Days</span>
                                    </h4>
                                    <h4><span class="feature">Questions:&nbsp;</span><span><%=questions1 %></span></h4>
                                </div>
                                <div class="price">
                                    <h4>$<%= price1 %></h4>
                                </div><button class="btn btn-primary btn-block" id="btn1" type="submit">BUY NOW</button>
                            </div>
                        </div>

                                                <!--hidden field set value using jquery-->
                        <input type="hidden" id="pln" name="pln" value=''>

                                <script>


                                    $(function() {
                                        console.log( "ready!" );
                                       
                                        $("#btn0").click(function(){
                                           
                                            document.getElementById('pln').value='<%= plan0 %>';
                                          });

                                          $("#btn1").click(function(){
                                           
                                            document.getElementById('pln').value='<%= plan1 %>';
                                           });

                                           $("#btn2").click(function(){
                                           
                                            document.getElementById('pln').value='<%= plan2 %>';
                                           });

                                    });


                                    

                                </script>
                




                <div class="col-md-5 col-lg-4 prod_list_3">
                    <div class="clean-pricing-item">
                        <div class="heading">
                            <h3 id="planC" name="planC"> <%= plan2 %></h3>
                        </div>
                        <p><%= description2 %></p>
                        <div class="features">
                            <h4><span class="feature">Full Support:&nbsp;</span><span><%= fullsupport2 %></span></h4>
                            <h4><span class="feature">Duration:&nbsp;</span><span><%= duration2%> Days</span></h4>
                            <h4><span class="feature">Questions:&nbsp;</span><span><%=questions2 %></span></h4>
                        </div>
                        <div class="price">
                            <h4>$<%= price2 %></h4>
                        </div><button class="btn btn-outline-primary btn-block" id="btn2" type="submit">BUY NOW</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">About MonkInsider</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 MonkInsider</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>