<!DOCTYPE html>
<html>

    <%- include('partials/header') -%>
    <main class="page payment-page">
        <section class="clean-block payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Payment</h2>
                    <p>Make payment here.</p>
                </div>
                <form method="post" action="payment">
                    <div class="products">
                       
                        <h3 class="title">Checkout</h3>
                        <% for (var i = 0; i < loop.length; i++){ %>
                        <div class="item"><span class="price">$<%=price[i]%></span>
                            <p class="item-name"><%= selectedPlan[i] %></p>
                            <p class="item-description"><%=description[i] %></p>
                        </div>
                        <% }; %>

                        <div class="total"><span>Total</span><span class="price" id ="finalPrice">$320</span></div>
                        <input type="hidden" name="finalAmt" id ="finalAmt" value = ""/>
                        <script>

                            document.getElementById("finalPrice").innerHTML = "$"+localStorage.getItem("cartPrice");
                            document.getElementById("finalAmt").innerHTML = "$"+localStorage.getItem("cartPrice");
                            document.getElementById("finalAmt").value = "$"+localStorage.getItem("cartPrice");
                        </script>
                    </div>
                   
                    
                    
                    <div class="card-details">
                        <h3 class="title">Credit Card Details</h3>
                        <div class="form-row">
                            <div class="col-sm-7">
                                <div class="form-group"><label for="card-holder">Card Holder</label><input class="form-control" type="text" placeholder="Card Holder"></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group"><label>Expiration date</label>
                                    <div class="input-group expiration-date"><input class="form-control" type="text" placeholder="MM"><input class="form-control" type="text" placeholder="YY"></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group"><label for="card-number">Card Number</label><input class="form-control" type="text" id="card-number" placeholder="Card Number"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group"><label for="cvc">CVC</label><input class="form-control" type="text" id="cvc" placeholder="CVC"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Proceed</button></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('partials/footer') -%>
</body>

</html>