<%- include ('partials/header') %>

<h1>

    Select Quiz
</h1>

<style>
    h1 {
        padding-top: 8%;
    }
</style>


<form action="" class="form-group" method="get">
    <input name="search" type="text" placeholder="Enter Title.." />
    <label for="quiz">Choose a genre:</label>

    <select name="genre" class="form-group" id="quiz" onchange="">
        <option value="all">All</option>
        <option value="GK">GK</option>
        <option value="Movies">Movies</option>
        <option value="Science">Science</option>
        <option value="Sports">Sports</option>
    </select>

   

    <button type="submit" class="btn btn-dark">Search</button>
</form>
</div>
</div>


<div class="container">
    <div class="row">
        <% quiz.forEach(function(quiz_data){ %>
            <form action='/quiz'>
        <div class="sm-col-3">
            <img src="public/assets/img/<%= quiz_data.image %>" style="width: 200px; height: 200px;" class="img-thumbnail" />
            <div class="caption">
                <a href="quizes/<%= quiz_data._id  %>"><%= quiz_data.title %></a>
                <div>
                  
                    <button type="submit" class="btn btn-dark">Take Quiz</button>
                    <input type="hidden" name="user_selected_quiz" value ="<%= quiz_data._id  %>">
                    
                </div>
                
            </div>
        </div>
</form>
        <% }); %>
    </form>
    </div>
</div>